<div class="update-dialog-content">

    <div class="topbar">UPDATING {{data.filename}}:</div>

    <form class="update-form">

        <mat-checkbox [checked]="filenameChecked" (change)="toggleFilename($event)">Update filename</mat-checkbox>

        <div *ngIf="filenameChecked">
            <mat-form-field style="width:100%">
                <input matInput name="filename" [(ngModel)]="data.newFilename">
            </mat-form-field>
        </div>

        <mat-checkbox class="descriptionCheckbox" [checked]="descriptionChecked" (change)="toggleDescription($event)">
            Update description</mat-checkbox>

        <div *ngIf="descriptionChecked">
            <textarea name="description" maxlength="250" cols="36" rows="7"
                [(ngModel)]="data.newDescription"></textarea>
        </div>

        <div class="dialog-buttons">
            <button mat-raised-button (click)="onCancel()"> Cancel </button>
            <button mat-raised-button color="primary" type="submit" (click)="onSubmit()"> Update </button>
        </div>
    </form>
</div>