<div [hidden]="!isDataLoaded">
<div [ngStyle]="tableDisplay" class="mat-elevation-z8">

    <div class="workspace-top-bar">
        
        <mat-form-field class="search-field">
            <mat-label>Search file</mat-label>
            <input matInput (keyup)="applyFilter($event)" #input>
        </mat-form-field>

        <div class="button-wrapper">
            <button mat-raised-button color="primary"  (click)="openDialog()"> Add File </button>
        </div>

    </div>


    <table class="workspace-content-table" mat-table [dataSource]="dataSource" matSort multiTemplateDataRows >

        <!-- File name column -->
        <ng-container matColumnDef="fileName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> File </th>
            <td mat-cell *matCellDef="let file"> {{file.fileName}} </td>
        </ng-container>

        <!-- Content type column -->
        <ng-container matColumnDef="contentType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
            <td mat-cell *matCellDef="let file"> <i class="far fa-file"></i> {{file.contentType}} </td>
        </ng-container>

        <!-- LastModificationDate column -->
        <ng-container matColumnDef="lastModificationDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Last modified </th>
            <td mat-cell *matCellDef="let file"> {{file.lastModificationDate}} </td>
        </ng-container>

        <!-- LastModificationBy column -->
        <ng-container matColumnDef="lastModificationBy">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Modified by </th>
            <td mat-cell *matCellDef="let file"> {{file.lastModifiedBy}} </td>
        </ng-container>

        <!-- Expanded Detail -->
        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let file" [attr.colspan]="columnsToDisplay.length" class="detail-contents">
              <div class="file-detail"
                   [@detailExpand]="file == expandedElement ? 'expanded' : 'collapsed'">
                <p>Description:</p>
                <div class="detail-description">
                  {{file.description}}
                </div>
                <div class="buttons-wrapper">
                    <div class ="detail-control-buttons">
                        <button mat-raised-button color="primary" (click)="downloadFile(file.groupId,file.id,file.fileName)"> Download </button>
                        <button mat-raised-button color="primary"> Update </button>
                        <button mat-raised-button color="primary"> Remove </button>
                    </div>
                </div>
              </div>
            </td>
          </ng-container>


        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"
            class="element-row"
            [class.expanded-row]="expandedElement === row"
            (click)="expandedElement = expandedElement === row ? null : row">
        </tr>

        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>



        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>

    </table>


    <mat-paginator #paginator  [pageSizeOptions]="pageSizeOptions" showFirstLastButtons class="workspace-paginator" ></mat-paginator>
</div>
</div>
<div *ngIf="tableDisplay.display!='block'" >
    <!-- <div class="workspace-top-bar"></div> -->
    <h1 style="color:white">Jebać disa</h1>
</div>



