@import '../../../_variables.scss';

.element-row td {
    border-bottom-width: 0;
}

.file-detail {
    overflow: hidden;
    display: flex;
}

.detail-description {
    padding: 16px;
}

.workspace-top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background: $login-backround-color;
    height: $workspace-topbar-height;
    padding-top: $workspace-topbar-padding;
    padding-bottom: $workspace-topbar-padding;
}
::ng-deep .mat-form-field-label {
    color: $white-color !important;
}
.search-field {
    margin-left: 2rem;
}
.button-wrapper {
    margin-right: 1rem;
}
.workspace-content-table {
    width: 100%;
    background: $background;
    th {
        height: $workspace-item-height;
        color: $primary;
        border-bottom: solid $primary $workspace-border-size;
        //border-top: solid $primary $workspace-border-size;
    }
    td {
        color: $white-color;
        //height: $workspace-item-height;
        border-bottom: solid $gray-color $workspace-border-size !important;
    }
    td.work_or_ill_cry {
        border-bottom: 0;
    }
    tr {
        height: $workspace-item-height;
    }
    tr.detail-row {
        border-bottom-width: 0;
        height: 0;
    }
    tr.element-row:not(.expanded-row):hover {
        background: $gray-highlight;
    }

    tr.element-row:active {
        background: $gray-highlight;
    }
}
.workspace-paginator {
    background: $background;
    color: $white-color;
}

::ng-deep .mat-select-value {
    color: $white-color;
}
::ng-deep .mat-select-arrow {
    color: $primary;
}
