<div [hidden]="!isDataLoaded">
<div [ngStyle]="tableDisplay" class="mat-elevation-z8">

    <div class="workspace-top-bar">
        
        <mat-form-field class="search-field">
            <mat-label>Search file</mat-label>
            <input matInput (keyup)="applyFilter($event)" #input>
        </mat-form-field>

        <div class="button-wrapper">
            <button mat-raised-button color="primary"  (click)="openUploadDialog()"> Add File </button>
        </div>

    </div>


    <table class="workspace-content-table" mat-table [dataSource]="dataSource" matSort multiTemplateDataRows >

        <!-- File name column -->
        <ng-container matColumnDef="fileName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> File </th>
            <td mat-cell *matCellDef="let file"> {{file.fileName}} </td>
        </ng-container>

        <!-- Content type column -->
        <ng-container matColumnDef="contentType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
            <td mat-cell *matCellDef="let file"> <i class="far fa-file"></i> {{file.contentType}} </td>
        </ng-container>

        <!-- LastModificationDate column -->
        <ng-container matColumnDef="lastModificationDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Last modified </th>
            <td mat-cell *matCellDef="let file"> {{file.lastModificationDate}} </td>
        </ng-container>

        <!-- LastModificationBy column -->
        <ng-container matColumnDef="lastModificationBy">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Modified by </th>
            <td mat-cell *matCellDef="let file"> {{file.lastModifiedBy}} </td>
        </ng-container>

        <!-- Expanded Detail -->
        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let file" [attr.colspan]="columnsToDisplay.length" class="detail-contents">
              <div class="file-detail"
                   [@detailExpand]="file == expandedElement ? 'expanded' : 'collapsed'">
                <p>Description:</p>
                <div class="detail-description">
                  {{file.description}}
                </div>
                <div class="buttons-wrapper">
                    <div class ="detail-control-buttons">
                        <button mat-raised-button color="primary" (click)="downloadFile(file.groupId,file.id,file.fileName)"> Download </button>
                        <button mat-raised-button color="primary" (click)="openUpdateDialog(file.groupId, file.id, file.fileName, file.description)"> Update </button>
                        <button mat-raised-button color="primary" (click)="openRemoveDialog(file.groupId, file.id, file.fileName)"> Remove </button>
                    </div>
                </div>
              </div>
            </td>
          </ng-container>


        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"
            class="element-row"
            [class.expanded-row]="expandedElement === row"
            (click)="expandedElement = expandedElement === row ? null : row">
        </tr>

        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>



        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>

    </table>


    <mat-paginator #paginator  [pageSizeOptions]="pageSizeOptions" showFirstLastButtons class="workspace-paginator" ></mat-paginator>
</div>
</div>
<div *ngIf="tableDisplay.display!='block'" >
    <!-- <div class="workspace-top-bar"></div> -->
    <h1 style="color:white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed est nisi. Vestibulum interdum a lacus eget
    venenatis. Sed sit amet dapibus arcu. Aliquam quam mauris, dapibus at diam ac, vulputate eleifend purus. Sed euismod
    auctor tincidunt. Pellentesque vestibulum semper augue, nec iaculis odio luctus vel. Nulla ultricies faucibus dolor ut
    lacinia. Morbi ultricies, sem non pulvinar posuere, nunc nunc consectetur dolor, in iaculis urna felis eu metus. Integer
    pharetra a nibh eget mollis.
    
    Proin eu risus a nisl finibus auctor. Nam eu ligula aliquet, fringilla dolor vel, auctor urna. Suspendisse posuere ipsum
    ut commodo maximus. Integer purus diam, gravida bibendum tempus vel, rhoncus id turpis. Curabitur eget nunc semper odio
    eleifend fringilla eget in magna. Suspendisse sed mauris ac dolor euismod mollis vitae lobortis est. Nullam accumsan sem
    metus, tincidunt porta nibh accumsan sed. Pellentesque porttitor dictum sapien, id viverra nisl laoreet eu. Morbi
    vestibulum, nulla vitae tempus faucibus, enim massa auctor nisl, nec semper neque enim non nunc. Proin sit amet augue
    scelerisque, fringilla neque sed, rutrum nibh. Duis mollis quam ac mattis vestibulum. Ut pretium sem ac pretium lacinia.
    Praesent malesuada quam diam, quis luctus dui tristique ut. Morbi eu facilisis est. Nullam in semper arcu. Morbi ut
    risus gravida, laoreet justo eget, pharetra ligula.
    
    Praesent velit sem, convallis sed fermentum id, commodo quis justo. Sed nec ante vehicula, vestibulum sapien sed,
    scelerisque ipsum. Cras ultrices leo ut velit elementum porta. Phasellus venenatis aliquet sapien id luctus. Etiam ac
    nibh vel tellus aliquam bibendum. Pellentesque feugiat nunc purus, eget imperdiet sapien bibendum quis. Mauris commodo
    quam diam, vel lobortis metus tincidunt sit amet. Integer sed risus at nisl luctus facilisis. Vestibulum tempor ultrices
    felis dictum varius. Nam bibendum hendrerit nulla a finibus. Proin diam urna, pellentesque a risus et, blandit interdum
    sem. In dignissim massa lectus, ac eleifend eros placerat vitae. Nullam maximus a mi vel commodo. Donec sem augue,
    viverra eget scelerisque porta, faucibus eget urna. Mauris vehicula nulla vel risus blandit bibendum.
    
    Ut non blandit lectus. Aenean sed tempus ex. Morbi finibus turpis ut dolor dictum tincidunt. Duis nulla dolor, eleifend
    in porttitor at, laoreet ac elit. Aliquam mollis lorem dolor, eget suscipit magna fringilla id. Pellentesque commodo sem
    a elementum scelerisque. Ut ut accumsan mauris. Ut congue leo quis dignissim hendrerit. Maecenas scelerisque dui
    scelerisque malesuada ullamcorper. In molestie ipsum eget fringilla porttitor. Sed in lacus in lorem iaculis posuere.
    Duis tristique elementum erat vitae vehicula.
    
    Aliquam eros tellus, cursus quis aliquam ut, fermentum et diam. Pellentesque blandit dui a sem bibendum bibendum. Ut
    vehicula libero ut sem lacinia sagittis. Nam lectus odio, iaculis in aliquam id, feugiat ac arcu. Nunc vel lacinia
    metus, quis fringilla libero. In nisl mauris, congue at nulla et, consequat elementum lacus. Proin id tincidunt elit,
    vel pretium lacus. Ut ac massa a mi lobortis aliquam in eget tortor. Nullam ut dictum est. Etiam sit amet libero eros.
    Proin pretium pulvinar massa eu lobortis. Aenean cursus dui id metus pretium, ac lacinia dolor pretium. Nullam non
    turpis vitae sapien tempor venenatis ac in sapien.</h1>
</div>



