@import '../../../_variables.scss';

.workspace-top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background: $login-backround-color;
    height: $workspace-topbar-height;
    padding-top: $workspace-topbar-padding;
    padding-bottom: $workspace-topbar-padding;

    .search-field {
        margin-left: 2rem;
        color: $white-color;
    }
    .button-wrapper {
        margin-right: 1rem;
    }
}
::ng-deep .mat-form-field-label {
    color: $white-color !important;
}

// .element-row td {
//      border-bottom: 0;
// }

.file-detail {
    overflow: hidden;
    display: flex;
}

.detail-description {
    padding: 16px;
}

.workspace-content-table {
    width: 100%;
    background: $background;
    th {
        font-size: 1.25rem;
        height: $workspace-item-height;
        color: $primary;
        border-bottom: solid $primary $workspace-border-size;
        //border-top: solid $primary $workspace-border-size;
    }
    td {
        font-size: 1.25rem;
        color: $white-color;
        //height: $workspace-item-height;
        border-bottom: solid $gray-color $workspace-border-size;
        //border-bottom: none !important;
    }
    tr {
        height: $workspace-item-height;
    }
    tr.detail-row {
        height: 0;
    }
    tr.element-row:not(.expanded-row):hover {
        background: $gray-highlight;
    }

    tr.element-row:not(.expanded-row):active {
        background: $gray-highlight;
    }
}
.expanded-row {
    background: $light-gray-highlight;
    border-bottom: none !important;
}
.file-detail {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    p {
        padding-top: 2rem;
        margin-bottom: 0.5rem;
    }
    .detail-description {
        width: 90%;
        padding: 0.5rem;
        margin-left: 7rem;
    }
    .buttons-wrapper {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding-bottom: 2rem;
        .detail-control-buttons {
            display: flex;
            flex-direction: row;
            width: 20%;
            justify-content: space-evenly;
        }
    }
}
.workspace-paginator {
    background: $background;
    color: $white-color;
}
.detail-contents {
    //border-bottom: solid $gray-color $workspace-border-size;
    padding: 0;
    border-bottom: none !important;
    background: $light-gray-highlight;
    background: $light-gray-highlight;
}
::ng-deep .mat-select-value {
    color: $white-color;
}
::ng-deep .mat-select-arrow {
    color: $primary;
}
