@import '../../../_variables.scss';

.sidenav-container-inner {
    width: 100%;
    display: flex;
    background-color: $gray-color;

    flex-direction: column;
    align-items: center;
    .item {
        height: $workspace-item-height;
        font-size: 1.25rem;
        border-bottom: solid $gray-highlight $workspace-border-size;
        color: white;
        width: 100%;
        &:hover {
            background-color: $primary;
            cursor: pointer;
        }
    }
    .highlighted-item {
        width: 100%;
        font-size: 1.25rem;
        height: $workspace-item-height;
        background-color: $primary;
        color: white;
        width: 100%;
    }
    .list-item-container {
        padding-top: 0px !important;
        width: 100%;
    }
    .sidebar-top-bar {
        width: 100%;
        padding-left: 1rem;
        height: $workspace-topbar-height;
        padding-top: $workspace-topbar-padding;
        padding-bottom: $workspace-topbar-padding;
        border-bottom: solid $gray-highlight $workspace-border-size;
        h2 {
            margin: 0rem;
            padding: 0rem;
            font-size: 1.5rem;
            color: $white-color;
        }
    }
}
