@import '../../_variables.scss';

.drawer {
    width: 100%;
    height: 100%;
    border: hidden;

    .sidenav-container {
        border: none !important;
        width: 15%;
        background-color: $login-backround-color;
    }

    .drawer-content-container {
        border: none !important;
        background-color: $background;
        width: 85%;
    }
}
.workspace-sidebar {
    width: 100%;
}
