<div *ngIf="isOpen; then open; else closed"></div>

<ng-template #open >
    <div class="file-upload-dialog-content">
        <div class="topbar">ADD FILES</div>
        <mat-list>
            <div class="items-container">
                <div *ngFor="let file of fileList; let i=index">
                    <mat-list-item>
                        <div class="file-to-upload">
                            <span (click)="onDescriptionFieldOpen(i)" [ngClass]="(highlightedFile == i) ? 'highlighted-filename' : 'filename'">{{this.cutName(file.fileName)}}</span>
                            <i class="fas fa-times" (click)="removeFromUploadBuffer(i)"></i>
                        </div>
                    </mat-list-item>
                </div>
            </div>
        </mat-list>
        
        <div *ngIf="showDescription" class="description-field">
                <textarea [(ngModel)]="description" maxlength=250>
                </textarea>
                <div class="save-button-wrapper">
                    <button mat-raised-button class="discard" (click)="onDescriptionDiscard()">Cancel</button>
                    <button mat-raised-button color="primary" (click)="onDescriptionSave()">Save</button>
                </div>
        </div>
    
        <div class="dropzone" appFileDnd (filesDropped)="handleDrop($event)" (filesHovered)="toggleHover($event)"
            [class.hovering]="isHovering" [class.shaking]="isShaking">
            <div class="dialog-message" [class.hovering]="isHovering" [class.shaking]="isShaking">
                <div class="text">
                    <p>Drag and drop files here</p>
                    <p>(limit of files: 3)</p>
                </div>
                <i class="fas fa-file-upload" style="font-size: 7rem"></i>
            </div>
           
        </div>
        <div class="dialog-buttons">
            <button mat-raised-button (click)="onCancel()">Cancel</button>
            <button mat-raised-button color="primary" (click)="uploadFiles()">Upload</button>
        </div>
    </div>
</ng-template>
<ng-template #closed>
    <div class="file-upload-dialog-content">
        <div class="topbar">UPLOADING</div>
        <mat-list>
            <div class="items-container">
                <div *ngFor="let file of fileList; let i=index">
                    <mat-list-item>
                        <div class="file-uploading">
                            {{this.cutName(file.fileName)}}
                            <mat-progress-bar 
                                mode="determinate" 
                                [value]="fileUploadProgresses[i]"
                                color="primary"></mat-progress-bar>
                        </div>
                    </mat-list-item>
                </div>
            </div>
        </mat-list>
        <div class="dialog-buttons" [hidden]="!isDone.value">
            <button mat-raised-button (click)="onCancel()">Close</button>
        </div>
    </div>
</ng-template>