<mat-toolbar class="toolbar-theme navbar-container">

    <div class="navbar-items-container">
        <span class="item app-tite">File Forge</span>

        <!-- for navigation buttons -->
        <div class="navigation item">
            
        </div>
    
        <div class="details" *ngIf="givenName">
            <span class="item username">Hello {{givenName}}</span>
            <button *ngIf="givenName === 'admin'" class="admin-btn" mat-raised-button color="white" (click)="goToAdminPanel()">
                Admin Panel
           </button>
            <button class="logout-btn" mat-raised-button color="white" (click)="logout()">
                 Logout
            </button>
        </div>
                    
    </div>
    
</mat-toolbar>