<div class="home-page-container">


    <div class="main-page-graphic-container">
        <img src="assets\logo.png" >
    </div>

    <div class="auth-container">
        
            <div class="login-form-container" *ngIf="link != links[0]">
                <app-login-form></app-login-form>
            </div>
            
            <div *ngIf="link == links[0]">
                <app-register-form (registered)="changeLinkAndComponent()"></app-register-form>
            </div>
        

        <div class="change-auth">
            <a (click)="changeLinkAndComponent()">{{link}}</a>
        </div>
    </div>
    



</div>