@import '../../_variables.scss';

.home-page-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 33% 33%;

    .main-page-graphic-container {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;

        place-self: center;
        // opacity: 0;
        // &:hover {
        //     opacity: 0.2;
        // }
    }

    .auth-container {
        grid-column-start: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        align-self: start;
        justify-self: center;
        display: flex;
        flex-direction: column;

        .change-auth {
            color: $primary;
            align-self: flex-start;

            &:hover {
                cursor: pointer;
                color: white;
            }
        }
    }
}
